
.swiper_container {
    padding-top: 219px;
}

.swiper {
    width: 1000px;
    height: 100%;
    border-style: solid;
    border-color: rgba(175, 144, 114, 0.78);
    border-width: 10px;
    border-radius: 5%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: aliceblue;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 600px;
}



.swiper-slide img {
    width: 60%;
    object-fit: cover;
    
}

.baton {
    color: rgb(0, 0, 0) !important;
    width: 60px !important;
    height: 60px !important;
    background-color: rgba(128, 128, 128, 0.479);
    border-radius: 50%;
    position: absolute;
    margin: 0;
    top: 65% !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 15% !important;
    left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 15% !important;
    right: auto;
}

.two_cap {
    height: 500px;
    padding-left: 20%;
    padding-top: 85px;
    padding-bottom: 122px;
}